@{
    ViewBag.Title = "Prototype Admin";
}

<h2>Welcome to Prototype Admin</h2>
<p>
    Check this links:
    
    <ul>
        <li><a href="@Url.Action("Index","Monitor")">View messages in realtime</a></li>
        <li><a href="@Url.Action("Show","Aggregate")">View aggregate state and events</a></li>
    </ul>
</p>
